<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />

  <!-- Bootstrap CSS -->
  <link href="../../public/css/styles.css" rel="stylesheet" type="text/css">

  <title>Escape Room</title>
</head>

<body>
  <script type="text/javascript">
    function getRoomNo() {
      var pathName = location.pathname; // 網址內
      var re = /\d{2,8}/ // 正規法 數字二到八個
      var roomNo = pathName.match(re); // 找到房號
      return roomNo;
      // document.write(roomNo);
    }
  </script>

  <section class="about-section text-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8">
        <h2 class="text-white mb-4"> 對話視窗 </h2>
      </div>
    </div>

    <div id="chatlist" class="toppart"></div>

    <div id="enterChat"></div>

    <!-- 開始遊戲 -->
    <div class="bottompart text-lg-start">
      <p class="text-primary">
        <font size="6">901教室</font>
      </p>


      <div class="text-start">
        <form class="" id=" PC" name="PC" onsubmit="return false">
          <a class="btn btn-danger" style="padding: 1rem 1.25rem;" onClick=RarOpen()>電腦</a>

          <p id="RAR" name="RAR" class="text-secondary" style="display:none;">桌面有一個一個RAR檔案:
            Number_lowercase.txt（需要密碼）:
            <input id="Number_txt" name="Number_txt" type="text" class="">
            <a class="btn btn-secondary" style="padding: 0.5rem 0.5rem;" onClick=UnZip()>送出</a>

            <a id="keyboradHint" name="keyboradHint" class="text-white-50" style="display:none;text-decoration:none;">
              Number_c.txt
              打開之後是一段英文：<b>「KB」 Move Right 1 </b>
            </a>
          </p>
        </form>
      </div>

      <div class="text-start">
        <form class="" id="door" name="door" onsubmit="return false">
          <a class="btn btn-primary" style=" padding: 1rem 1.25rem;" onClick=DoorLook()>門</a>
          <p id="accessCard" name="accessCard" class="text-secondary" style="display:none;">請問門禁卡密碼:
            <input id="accessCode" name="accessCode" type="text" class="">
            <a class=" btn btn-secondary" style=" padding: 0.5rem 0.5rem;" onClick=DoorOpnen()>送出</a>
            <p id="HappyFinal" name="HappyFinal" class="text-white-50" style="display:none;">
              <font size="500">
                <b>期末結束快樂!!!!!!!! 快陶啊 ~ </b>
              </font>
            </p>
          </p>
        </form>
      </div>

      <div class="text-end">
        <a class="btn btn-dark" onClick=NoteOpen()>掉在旁邊的小紙條</a>
        <p name="note" id="note" style="display:none;"><img style="height:250px"
            src="../../public/css/img/morse-code.jpg">
        </p>
      </div>




      <div class="footer">
        <button class="btn btn-outline-dark" style="margin-top:10%; padding:0.5rem 0;"
          onClick=ConsoleHint()>這是什麼?</button>
      </div>
      <script type="text/javascript">
        function ConsoleHint() {
          alert("打開你的CONSOLE")
        }

        function RarOpen() {
          // alert(document.PC.Number_txt.value)
          // alert(document.getElementById("RAR").textContent)
          var rar = document.getElementById("RAR")
          if (rar.style.display == 'block' || rar.style.display == '') {
            rar.style.display = 'none';
          } else {
            rar.style.display = 'block';
          }
        }

        function UnZip() {
          // alert(document.PC.Number_txt.value);
          var answer = "diu";
          if (document.PC.Number_txt.value == answer) {
            var keyboradHint = document.getElementById("keyboradHint")
            keyboradHint.style.display = 'block';
          } else {
            alert("ERROR");
          }
        }

        function DoorLook() {
          // alert(document.PC.Number_txt.value)
          // alert(document.getElementById("RAR").textContent)
          var access = document.getElementById("accessCard")
          if (access.style.display == 'block' || access.style.display == '') {
            access.style.display = 'none';
          } else {
            access.style.display = 'block';
          }
        }

        function DoorOpnen() {
          // alert(document.PC.Number_txt.value);
          var answer = "Final exams";
          if (document.door.accessCode.value == answer) {
            alert("逃脫成功！")
            var HappyFinal = document.getElementById("HappyFinal")
            HappyFinal.style.display = 'block';
          } else {
            alert("ERROR");
          }
        }

        function NoteOpen() {
          var note = document.getElementById("note")
          if (note.style.display == 'block' || note.style.display == '') {
            note.style.display = 'none';
          } else {
            note.style.display = 'block';
          }
        }


        // if (isUnZip == true)
        //   keyboradHint.style.display = 'block';

        console.log('%c %s', 'background: #f08080; color: Red; font-size:50px', '20000101');
      </script>

    </div>



  </section>



  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
  </script>
  <script type="text/javascript" src="../../public/enter2.js">
    // document.getElementById('chatlist').scrollTop = 9999999;
  </script>

  <%- include('footer'); -%>


  <!-- Final exams are finally over!  -->