<!DOCTYPE html>
<html>

<head>
  <!-- <meta http-equiv="refresh" content="13"> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link href="../../public/css/styles.css" rel="stylesheet" type="text/css">
  <!-- <link href="/public/test.css" rel="stylesheet" type="text/css"> -->
  <title>pikachu</title>
</head>

<body>
  <script type="text/javascript">
    function getRoomNo() {
      var pathName = location.pathname; // 網址內
      var re = /\d{2,8}/ // 正規法 數字二到八個
      var roomNo = pathName.match(re); // 找到房號
      return roomNo;
      // document.write(roomNo);
    }
  </script>

  <section class="about-section text-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8">
        <h2 class="text-white mb-4"> 對話視窗 </h2>
      </div>
    </div>

    <div id="chatlist" class="toppart"></div>

    <div id="enterChat"></div>




    <!-- 開始遊戲 -->
    <div class="bottompart text-lg-start">
      <p class="text-primary">
        <font size="6">721教室</font>
      </p>

      <div>
        <form class="" id="L_safeBox" name="L_safeBox" onsubmit="return false">
          <a class="btn btn-danger" style="padding: 1rem 1.25rem;" onClick=L_BoxLook()>一個UP鎖的箱子(字母鎖)</a>
          <p id="L_ElectronicLocks" name="L_ElectronicLocks" class="text-secondary" style="display:none;">電子密碼鎖請輸入:
            <input id="L_LockPassword" name="L_LockPassword" type="text" class="">
            <a class="btn btn-secondary" style="padding: 0.5rem 0.5rem;" onClick=L_BoxOpen()>送出</a>
            <a id="L_BoxInside" class="btn btn-outline-warning" style="padding: 1rem 1.25rem; display:none; width:150px"
              onClick=AudioOpen()>一個撥放器</a>
            <audio id="morseAudio" src="../../public/css/Morse/Diu_Audio.wav"></audio>
          </p>
        </form>
      </div>

      <br>

      <div class="text-start">
        <form class="" id="safeBox" name="safeBox" onsubmit="return false">
          <a class="btn btn-danger" style="padding: 1rem 1.25rem;" onClick=N_BoxLook()>一個上鎖的箱子(密碼鎖)</a>
          <p id="N_ElectronicLocks" name="N_ElectronicLocks" class="text-secondary" style="display:none;">電子密碼鎖請輸入:
            <input id="LockPassword" name="LockPassword" type="text" class="">
            <a class="btn btn-secondary" style="padding: 0.5rem 0.5rem;" onClick=N_BoxOpen()>送出</a>
            <a class="text-white-50">
              <a id="N_BoxInside" name="BoxInside" style="display:none; text-decoration:none; width: 300px"
                class="btn btn-dark" onClick=NoteOpen()>放在裡面的小紙條
                <a name="note" id="note" style="display:none;"><img style="height:200px"
                    src="../../public/css/img/moveLeftOne.png">
                </a>
              </a>
            </a>
          </p>
        </form>
      </div>

      <div class="text-start">
        <form class="" id="door" name="door" onsubmit="return false">
          <a class="btn btn-primary" style=" padding: 1rem 1.25rem;" onClick=DoorLook()>門</a>
          <p id="accessCard" name="accessCard" class="text-secondary" style="display:none;">請問門禁卡密碼:
            <input id="accessCode" name="accessCode" type="text" class="">
            <a class=" btn btn-secondary" style=" padding: 0.5rem 0.5rem;" onClick=DoorOpnen()>送出</a>
            <p id="HappyFinal" name="HappyFinal" class="text-white-50" style="display:none;">
              <font size="500">
                <b>期末結束快樂!!!!!!!! 快陶啊 ~ </b>
              </font>
            </p>
          </p>
        </form>
      </div>

      <a class="footer">
        <button class="btn btn-outline-dark" style="margin-top:10%; padding:0.5rem 0;"
          onClick=TitleHint()>咦?這是?</button>
      </a>
    </div>





    <script>
      function N_BoxLook() {
        // alert(document.PC.Number_txt.value)
        // alert(document.getElementById("RAR").textContent)
        var Lock = document.getElementById("N_ElectronicLocks")
        if (Lock.style.display == 'block' || Lock.style.display == '') {
          Lock.style.display = 'none';
        } else {
          Lock.style.display = 'block';
        }
      }

      function N_BoxOpen() {
        // alert(document.PC.Number_txt.value);
        var answer = 20000101;
        if (document.safeBox.LockPassword.value == answer) {
          var BoxInside = document.getElementById("N_BoxInside")
          BoxInside.style.display = 'block';
        } else {
          alert("ERROR");
        }
      }

      function AudioOpen() {
        let myAuto = document.getElementById('morseAudio')
        myAuto.play()
      }

      function L_BoxLook() {
        var Lock = document.getElementById("L_ElectronicLocks")
        if (Lock.style.display == 'block' || Lock.style.display == '') {
          Lock.style.display = 'none';
        } else {
          Lock.style.display = 'block';
        }
      }

      function L_BoxOpen() {
        // alert(document.PC.Number_txt.value);
        var answer = "pikachu";
        if (document.L_safeBox.L_LockPassword.value == answer) {
          var BoxInside = document.getElementById("L_BoxInside")
          BoxInside.style.display = 'block';
        } else {
          alert("ERROR");
        }
      }

      function TitleHint() {
        alert("你往上看不覺得哪裡不一樣嗎?");
      }

      function NoteOpen() {
        var note = document.getElementById("note")
        if (note.style.display == 'block' || note.style.display == '') {
          note.style.display = 'none';
        } else {
          note.style.display = 'block';
        }
      }

      function DoorLook() {
        // alert(document.PC.Number_txt.value)
        // alert(document.getElementById("RAR").textContent)
        var access = document.getElementById("accessCard")
        if (access.style.display == 'block' || access.style.display == '') {
          access.style.display = 'none';
        } else {
          access.style.display = 'block';
        }
      }

      function DoorOpnen() {
        // alert(document.PC.Number_txt.value);
        var answer = "Finally over!";
        if (document.door.accessCode.value == answer) {
          alert("逃脫成功！")
          var HappyFinal = document.getElementById("HappyFinal")
          HappyFinal.style.display = 'block';
        } else {
          alert("ERROR");
        }
      }
    </script>



  </section>



  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
  </script>
  <script type="text/javascript" src="../../public/enter2.js">
    // document.getElementById('chatlist').scrollTop = 9999999;
  </script>

  <%- include('footer'); -%>