<%- include('header'); -%>

<!--  -->
<script type="text/javascript">
    function GetRoomNo() {
        var dateNum = new Date();
        var randomNum = Math.floor((Math.random() * 100) + 1);
        var roomNum = new String(dateNum.getMonth() + 1) + dateNum.getDate() + dateNum
            .getMinutes() + randomNum
        return roomNum;
    }
</script>

<section class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">創建房間</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">這是一個隨機的房間號，請傳給你想連線的對象</h2>

                <!-- <form name='showTheRoomNumber' class="mb-0 text-white-50 " method="POST" action="/PostcreateRoom">
                    <font size="10">
                        <script>
                            var dateNum = new Date();
                            var randomNum = Math.floor((Math.random() * 100) + 1);
                            var roomNum = new String(dateNum.getMonth() + 1) + dateNum.getDate() + dateNum
                                .getMinutes() + randomNum
                            document.write('<input id="roomNo" name="roomNo" >')
                            document.write(roomNum)
                            document.write('<label>')
                        </script>
                    </font>
                </form> -->
                <form name='showTheRoomNumber' class="mb-0 text-white-50 " method="POST" action="/PostcreateRoom">
                    <font size="10">
                        <input id="roomNo" name="roomNo" class='text-white-50 text-center'
                            style="BACKGROUND-COLOR: transparent;border-style:none" readonly="readonly"
                            unselectable=“on” value="" type="text">
                        <script type="text/javascript">
                            var elem = document.getElementById("roomNo");
                            elem.value = GetRoomNo();
                        </script>
                        <!-- <script>
                            var dateNum = new Date();
                            var randomNum = Math.floor((Math.random() * 100) + 1);
                            var roomNum = new String(dateNum.getMonth() + 1) + dateNum.getDate() + dateNum
                                .getMinutes() + randomNum
                            // document.write(roomNum)
                        </script> -->
                    </font>

                    <br><br>

                    <script>
                        // document.write(document.getElementById("roomNo").textContent)
                    </script>

                    <a class="btn btn-outline-light" href="/">
                        <font size="5">回到大廳</font>
                    </a>
                    <button name='buttonIn' class="btn btn-outline-light" type="submit">
                        <font size="5">進入房間</font>
                    </button>
                </form>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        function getRoomNo() {
            // var pathName = location.pathname; // 網址內
            // var re = /\d{2,8}/ // 正規法 數字二到八個
            var roomNo = document.getElementById("roomNo").value

            // alert(roomNo);
            nextPath = "/v2/" + roomNo;
            // alert(nextPath);
            // return nextPath;
            window.location.href = nextPath;
        }
    </script>

</section>



<%- include('footer'); -%>