<!DOCTYPE html>
<html>

<head>
  <!-- <meta http-equiv="refresh" content="13"> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link href="../../public/css/styles.css" rel="stylesheet" type="text/css">
  <!-- <link href="/public/test.css" rel="stylesheet" type="text/css"> -->
  <title>Escape Room</title>
</head>

<body>

  <script type="text/javascript">
    function getRoomNo() {
      var pathName = location.pathname; // 網址內
      var re = /\d{2,8}/ // 正規法 數字二到八個
      var roomNo = pathName.match(re); // 找到房號
      return roomNo;
      // document.write(roomNo);
    }

    function getRoomNoPath(name) {
      var pathName = location.pathname; // 網址內
      var re = /\d{2,8}/ // 正規法 數字二到八個
      var roomNo = pathName.match(re); // 找到房號

      // alert(roomNo);
      nextPath = "/v2/" + roomNo + "/" + name;
      // alert(nextPath);
      // return nextPath;
      window.location.href = nextPath;
    }
  </script>

  <section class="about-section text-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8">
        <h2 class="text-white mb-4"> 對話視窗 </h2>
      </div>
    </div>

    <div id="chatlist" class="toppart"></div>

    <!-- <div id="enterChat"></div> -->

    <form class="mb-0 text-white-50 " name='enterChat' action="/PostEnterRoom2" method="POST">

      <input id="chatContent" name="chatContent" class="form-control strap "
        style="BACKGROUND-COLOR:rgb(31, 31, 31); border-style:none; color:floralwhite" class="text-white">

      <a style="display: none;">
        <input id="roomNo" name="roomNo" type="text">
        <script type="text/javascript">
          var elem = document.getElementById("roomNo");
          elem.value = getRoomNo();
        </script>
        <button></button>
      </a>

    </form>

    <!-- <script type="text/javascript">
      document.getElementById('chatContent')[0].onclick = function () {
        document.getElementById('chatContent')[0].value = ''
      }
    </script> -->






    <a class="text-white">

    </a>

    <!-- 選擇角色 -->
    <div class="bottompart">
      <h1 class="mx-auto my-0 text-uppercase text-white">選擇角色</h1>
      <a class=" btn btn-outline-primary" href="#" onclick="javascript:getRoomNoPath('A')" style=" width:300px;">
        <font size="10">A</font>

      </a><a class=" btn btn-outline-info " href="#" onclick="javascript:getRoomNoPath('B')" style="width:300px;">
        <font size="10">B</font>
      </a>


    </div>


    <!-- <a class="text-white">
      <script type="text/javascript">
        var pathName = location.pathname; // 網址內
        var re = /\d{2,8}/ // 正規法 數字二到八個
        var roomNo = pathName.match(re); // 找到房號

        document.write(roomNo);
      </script>
    </a> -->


  </section>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
  </script>
  <script type="text/javascript" src="../../public/enter2.js">
    // document.getElementById('chatlist').scrollTop = 9999999;
  </script>

  <%- include('footer'); -%>