<%- include('header'); -%>

<section class="about-section text-center" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8">
        <h2 class="text-white mb-4">對話視窗</h2>
        <% entries.forEach(function(entry) { %>
        <p id="testchat" class="text-white-50 text-lg-start toppart">
          <%= entry.chatContent %>
        </p>
        <% }) %>
      </div>
    </div>
    <script type="text/javascript">
      document.getElementById('testchat').scrollTop = 9999999;
    </script>

    <form class="mb-0 text-white-50 " name='enterChat' action="/PostEnterRoom2" method="POST">
      <input id="chatContent" name="chatContent" class="form-control strap "
        style="BACKGROUND-COLOR:rgb(31, 31, 31); border-style:none; color:floralwhite" class="text-white" type="text">
      <!-- <input class="form-control" class="text-white-50" type="text"> -->
    </form>


  </div>
</section>

<%- include('footer'); -%>