<%- include('header'); -%>

<!-- lobby -->
<header class="masthead">
    <!-- background -->
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">ESCAPE ROOM</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">歡迎來到密室逃脫遊戲，這是一款雙人遊戲</h2>
                <a class="btn btn-outline-light" href="/createRoom">
                    <font size="5">創建房間</font>
                </a>
                <a class="btn btn-outline-light" href="/inputRoomNo">
                    <font size="5">輸入房號</font>
                </a>
            </div>
        </div>
    </div>
</header>

<%- include('footer'); -%>