<%- include('header'); -%>

<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">請輸入房號</h2>
                <form class="form-signup" id="contactForm" name='roomNumber'>
                    <!-- input -->
                    <div class="row">
                        <div class="col">
                            <input name='enterRoomNo' class="form-control" placeholder="Enter room Number..."
                                aria-label="Enter room Number..."> </div>
                        <div class="col-auto">
                            <a class="btn btn-primary" id="enterButton" onClick=getRoom()>好了點我！ </a>
                            <!-- <a class="btn btn-primary" href="/v2">
                                點我！
                            </a> -->
                        </div>
                    </div>
                    <br><br>

                    <a class=" btn btn-outline-light" href="/">
                        <font size="5">回到大廳</font>
                    </a>

                </form>

                <script>
                    function ROOM() {
                        alert('房間為: ' + document.roomNumber.enterRoomNo.value)
                    }

                    function getRoom() {
                        var path = "http://localhost:3000/v2/" + document.roomNumber.enterRoomNo.value
                        window.location.href = path;
                    }
                </script>

            </div>
        </div>
    </div>
</section>

<%- include('footer'); -%>