<form class="mb-0 text-white-50 " name='enterChat' action="/PostEnterRoomA" method="POST">
  <input id="chatContent" name="chatContent" class="form-control strap text-white"
    style="BACKGROUND-COLOR:rgb(31, 31, 31); border-style:none; color:floralwhite" type="text">

  <a style="display: none;">
    <input id="roomNo" name="roomNo" type="text">
    <script type="text/javascript">
      var elem = document.getElementById("roomNo");
      elem.value = getRoomNo();
    </script>
    <button></button>
  </a>

</form>